body,html {
    overflow-x: hidden;
}

.blog-img {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.blog-class-single-img, .blog-class-dog-img, .blog-class-cat-img  {
    top: 50%;
    left: 50%;
    width: 56px;
    transform: translate(-50%,-33%);
}


.blog-class-img-container {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    overflow: hidden;
    background: lightgray;
}

.blog-title {
    font-weight: 800;
    font-size: 24px;
}

.blog-subject {
    font-weight: 800;
    font-size: 14px;
}

.read-all {
    position: absolute!important;
    top: 98%;
    left: 50%;
    transform: translate(-50%,-105%);
    font-weight: 800;
    font-size: 18px;  
    margin:0;
}

.blog-class-first-dog {
    left: 72%;
}


.post-blog {
border:1px solid black;
-webkit-box-shadow: 1px 1px 42px 1px rgb(0 0 0 / 17%);
-moz-box-shadow: 1px 1px 42px 1px rgb(0 0 0 / 17%);
box-shadow: 1px 1px 42px 1px rgb(0 0 0 / 17%);
}

.blogs-container {
    padding: 60px 0;
}

.blog-content {
    
}