@font-face {
  font-family: roundedDefault;
  src: url(../assets/font/RoundedMplus1c-Regular.ttf);
}

@font-face {
  font-family: roundedBold;
  src: url(../assets/font/RoundedMplus1c-ExtraBold.ttf);
}

.header-logo, .footer-logo {
  cursor: pointer;
}

header, body, footer {
  font-family: roundedDefault!important;
}

.row.hp-item.hp-icons  .col-12.col-lg-4:hover {
  opacity: 0.8;
  transition: all 0.3s;
  cursor: pointer;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#F20000;
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    text-transform: uppercase;
    font-family: roundedBold!important;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  @media (max-width:830px) {
    .header-desk {
        display: none;
    }

    .header-mobile {
        display: block!important;
    }
    .header-mobile .header{
      margin:0;
    }
    
}

.header-mobile {
    display: none;
}
.filter-collection input, .filter-collection-mobile input, .filter-collection-mobile label, .filter-collection label {
    cursor: pointer;
}

.header-icons div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor:pointer;
    padding: 10px;

}

header .header {
  align-items: center;
    width: 100%;
    justify-content: space-around;
}

.header-icons img {
    width: 10px;
    height: 10px;
}


.header-item a {
    text-decoration: none!important;
    color: black;
    text-transform: uppercase;
    font-family: roundedBold!important;
  }

.header-item:not(.header-logo) {
    padding-top: 10px;
}

.header-logo img{
    width: 150px;
}

.header-blog {
    padding-right: 8vh;
}