@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

@media (max-width:830px) {
    .header-desk {
        display: none;
    }

    .header-mobile {
        display: block!important;
    }
}

.header-mobile {
    display: none;
}
.filter-collection input, .filter-collection-mobile input, .filter-collection-mobile label, .filter-collection label {
    cursor: pointer;
}

.header-icons div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor:pointer;
    padding: 10px;

}

header .header {
    width: 100%;
    justify-content: space-around;
}

.header-icons img {
    width: 10px;
    height: 10px;
}



.header-item a {
    text-decoration: none!important;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
}

.header-item:not(.header-logo) {
    padding-top: 10px;
}

.header-logo img{
    width: 150px;
}

.header-blog {
    padding-right: 8vh;
}

.body-filter-open {
overflow: hidden;
}

.filter-mobile-close {
    margin-top: -15px;
    cursor: pointer;
}

.blurred-page {
    filter: blur(5px);
}

.filter-p {
    font-weight: 800;
    margin: 0;
}

.cok-satan {
    background:transparent
}

.grid-bottom {
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.filter-plus {
    font-weight: 800;
    cursor: pointer;
}

html, body{
    overflow-x: hidden!important;
}

.filter-gr {
    white-space: nowrap;
}

.filter-mobile-close {
    font-weight: 800;
    font-size: 30px;
    height: 1px;
    display: flex;
}

.filter-inspect a {
    background-color: #F20000;
    color: white;
    border-radius: 30px;
    padding: 5px 10px;
    white-space: nowrap;
}

.grid-inspect a, .mobile-filter {
    border: none;
    background-color: #F20000;
    color: white;
    border-radius: 30px;
    padding: 5px 10px;
    white-space: nowrap;
}

.mobile-filter:hover {
    background-color: #ffc220;
    color: #1920EF;
}

.grid-inspect span{
    color: #ffc220;
}

.filter-inspect span{
    color: #ffc220;
}

.filter-open {
    transform: translate(0%,0)!important;
}

@media (max-width:768px){
    .filter-collection-mobile {
        height: 105vh;
        position: absolute!important;
        background-color: white;
        z-index: 99;
        transform: translate(-100%,0);
        transition: all 0.4s;
    }

    .mobile-filter {
        cursor: pointer;
        padding: 5px 15px;
        margin: 0 0 15px 15px;
    }
}

@media (max-width:465px){
    .grid-title, .grid-gr {
        font-size: 16px!important;
    }

    .grid-desc, .grid-inspect, .grid-gr {
        font-size: 12px!important;
    }
}

.breadcrumbs p{
    white-space: nowrap;
}

.breadcrumbs h3{
    font-weight: 800;
}

.breadcrumbs-right img {
    width: 250px;
    z-index: -2;
}

.breadcrumbs-right {
    position: relative;
    align-items: flex-start;
}


.breadcrumbs-right div {
    position:absolute;
    z-index: -3;
    right: -20%;
    width: 100%;
    border-top: 4px solid #1920EF;
    top: 90%;
}


.collection-container {
    margin: auto;
    width: 95%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    transition: all 0.4s;
}

.grid-title {
    font-size: 22px;
    color: #1920EF;
    font-weight: 800;
}

.filter-title {
    font-size: 16px;
    color: #1920EF;
    font-weight: 800;
}

.filter-desc {
    font-size: 12px;
}


.grid-gr {
    white-space: nowrap;
    font-weight: 800;
    color: #F20000;
}

.filter-gr {
    font-size: 12px;
    white-space: nowrap;
    font-weight: 800;
    color: #F20000;
}

.filter-inspect {
    font-size: 12px;
    white-space: nowrap;
}

.item-grid-inner img {   
    max-width:70%;
}

.item-grid {
 margin-bottom: 35px;
}

.item-grid-inner {
border-radius: 30px;
-webkit-box-shadow: 1px 1px 42px 1px rgb(0 0 0 / 17%);
-moz-box-shadow: 1px 1px 42px 1px rgb(0 0 0 / 17%);
box-shadow: 1px 1px 42px 1px rgb(0 0 0 / 17%);

}

.item-grid-inner:hover > div h3, .item-grid-inner:hover > div p, .item-grid-inner:hover > div .grid-gr{
    color: white;
}

.item-grid-inner:hover > div .grid-inspect a{
    background-color: #ffc220;
    color: #1920EF;
}

.item-grid-inner:hover > div .grid-inspect a span{
    color: #F20000;
}





.item-grid-inner:hover > div h3, .item-grid-inner:hover > div p, .item-grid-inner:hover > div .filter-gr{
    color: white;
}

.item-grid-inner:hover > div .filter-inspect a{
    background-color: #ffc220;
    color: #1920EF;
}

.item-grid-inner:hover > div .filter-inspect a span{
    color: #F20000;
}



.item-grid-inner:hover {
    cursor: pointer;
    background-color: #1920EF;
}






.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 99999999999;
    top: 0;
    left: 0;
    background-color:#1920EF;
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    text-transform: uppercase;
    font-weight: 800;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #F20000;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }